body {
    background-image: url(../../imagens/fundoVermei.png);
    background-size: cover;
    overflow-x: hidden;

}

iframe {
    background-color: white;
    border-radius: 10px;
    border: 3px solid black;
}

* {
    font-family: 'Roboto Condensed', sans-serif;
}

h2 {
    color: #fff;
    
}

.title {
    background-color: black;
    margin: 2% 32% 1%;
    border-radius: 10px;
    border: 1px solid white;
}


